<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div class="container mt-5">
    <div class="form-group row"><h3>Add a new product</h3></div>
    <form th:action="@{/add-product}" th:object="${product}" method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control" th:field="*{name}" id="name"  placeholder="Enter name" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label">Brand</label>
            <div class="col-sm-6">
                <input type="text" name="brand" class="form-control" th:field="*{brand}" id="brand"  placeholder="Enter brand" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="madein" class="col-sm-2 col-form-label">Madein</label>
            <div class="col-sm-6">
                <input type="text" name="madein" class="form-control" th:field="*{madein}" id="madein"  placeholder="Enter madein" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-6">
                <input type="text" name="price" class="form-control" th:field="*{price}" id="price"  placeholder="Enter price" required/>
            </div>
        </div>   
        <a href="/list-product">Go home</a>
        <button type="submit" class="btn btn-primary">Add</button>

    </form>

</div>

</body>
</html>