<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div class="container mt-5">
    <div class="form-group row"><h3>Update the product name</h3></div>
    <form th:action="@{/update-product/{id}(id=${product.id})}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">name</label>
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control" th:field="*{name}" id="name"  placeholder="Enter name" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label">brand</label>
            <div class="col-sm-6">
                <input type="text" name="brand" class="form-control" th:field="*{brand}" id="brand"  placeholder="Enter brand" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="madein" class="col-sm-2 col-form-label">madein</label>
            <div class="col-sm-6">
                <input type="text" name="madein" class="form-control" th:field="*{madein}" id="madein"  placeholder="Enter madein" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">price</label>
            <div class="col-sm-6">
                <input type="number" name="price" class="form-control" th:field="*{price}" id="price"  placeholder="Enter price" required/>
            </div>
        </div>
        <a href="/list-product">Go home</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>

</body>
</html>